/.vscode/
/venv/
/data/
/LCA_Disclosure_Data_FY2021_Q3.csv
/LCA_Disclosure_Data_FY2021_Q3.xlsx
/test.csv
/.DS_STORE
/.idea/
__pycache__/
*.~lock*

.venv
.DS_STORE
.DS_store
/.env

# Setup Cockroach db file
cockroach-v21.2.2.darwin-10.9-amd64
TestDatabase.py